<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Module 05</title>
</head>
<body>

<!--Added initial headings and paragraphs -->

  <h1>About Ryan Zadrozny</h1>
  <h2>Year: Senior</h2>
  <h2>Majors: Finance & IS</h2>
  <p>Ryan was born in <strong>2001</strong>. He was raised in <em>New Jersey</em>.</p>
  <p>He came to Maryland in the year <strong>2020</strong>. His freshmen year was not the best because of the <em>pandemic</em>.</p>

<!--Added lists and tables -->

<p>Some important courses taken include:</p>
<ol>
    <li>BMGT407</li>
    <li>BMGT340</li>
    <li>BMGT402</li>
</ol>
  <p>Some less relevant courses include:</p>
<ul>
    <li>GEOG140</li>
    <li>ENES140</li>
    <li>MATH120</li>
</ul>

<table>
    <tr>
        <th>Important Course</th>
        <th>Semester Taken</th>
    </tr>
    <tr>
        <th>BMGT407</th>
        <th>Spring 2024</th>
    </tr>
    <tr>
        <th>BMGT340</th>
        <th>Spring 2022</th>
    </tr>
    <tr>
        <th>BMGT402</th>
        <th>Spring 2023</th>
    </tr>
</table>

<!--Added hyperlinks and image -->

<p>A link to the<a href="/hello">Hello World</a></p>
<p>A link to the <a href="https://www.nytimes.com/games/wordle/index.html" target="_blank">Wordle</a></p>
<p>A link to <a href="https://www.youtube.com/">YouTube</a></p>

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
     width="267" height="72" alt="Smith Logo">

</body>
</html>