{% extends "base.html" %}

{% block page_title %}
    {% if action and action == 'create' %}
        Add New Student
    {% elif action and action == 'update'  %}
        Update Student
    {% else %}
        {% if current_user.role == 'STUDENT' %}
            View My Record
        {% else %}
            View Student
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_head %}
    {% if action and action == 'create' %}
        Add New Student
    {% elif action and action == 'update'  %}
        Update Student
    {% else %}
        {% if current_user.role == 'STUDENT' %}
            View My Record
        {% else %}
            View Student
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_content %}